@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: #1A0329;
    --input: #E6E3D5;
    --ring: #FCFF52;

    --background: #FBF6F1;
    --foreground: #1A0329;

    --card: #FFFFFF;
    --card-foreground: #1A0329;

    --popover: #FBF6F1;
    --popover-foreground: #1A0329;

    --primary: #FCFF52;
    --primary-foreground: #1A0329;

    --secondary: #4E632A;
    --secondary-foreground: #FCFF52;

    --muted: #E6E3D5;
    --muted-foreground: #635949;

    --accent: #F2A9E7;
    --accent-foreground: #1A0329;

    --destructive: #F29E5F;
    --destructive-foreground: #1A0329;

    --radius: 0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
    font-weight: 400;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
    font-weight: 400;
    letter-spacing: -0.02em;
  }
}

@layer utilities {
  .text-display {
    @apply font-display;
    font-weight: 400;
    letter-spacing: -0.02em;
  }
  
  .text-body-bold {
    @apply font-body;
    font-weight: 800;
  }
}
